.fondo {
    background-color: rgb(255, 255, 255);
}

.superior {
    margin-top: 15px;
}

nav {
    background-color: rgb(39, 32, 48);
}

nav .navbar-nav li a {
    color: white ;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: rgb(254, 39, 186);
}

.navborder {
    margin-left: 14%;
}

.img-nav {
    width: 35%;
}

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.navtext {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}

.img {
    float: left;
}

.cardimg {
    height: 100%;
    width: 100%;
}

.quienessomos {
    margin-top: 20px;
    text-align: center;
}

/**/