.fondo {
    background-color: rgb(255, 255, 255);
}

.superior {
    margin-top: 15px;
}

.navcolor {
    background-color: blueviolet;
}

nav {
    background-color: rgb(39, 32, 48);
}

nav .navbar-nav li a {
    color: white ;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item .nav-link:active,
.navbar-nav .nav-item .nav-link:focus,
.navbar-nav .nav-item:hover .nav-link {
    color: rgb(254, 39, 186);
}


.navborder {
    margin-left: 14%;
}

.img-carousel{
    object-fit: fill;  
    max-height: 900px;
   width: 100%;
   height: 100%;
}

.img-nav {
    width: 35%;
}

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner > .item >img{
    min-height : 300px;
    max-height : 300px;
    width : 100%;
  }

.navtext {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}

.img {
    float: left;
}

.cardimg {
    height: 100%;
    width: 100%;
}

.quienessomos {
    margin-top: 20px;
    text-align: center;
}

/**/