.fondo {
    background-color: rgb(39, 32, 48);

}

.superior {
    margin-top: 15px;
}

.navcolor {
    background-color: blueviolet;
}

nav {
    background-color: rgb(39, 32, 48);
}

nav .navbar-nav li a {
    color: white;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item .nav-link:active,
.navbar-nav .nav-item .nav-link:focus,
.navbar-nav .nav-item:hover .nav-link {
    color: rgb(254, 39, 186);
}


.navborder {
    margin-left: 14%;
}

.img-carousel {
    object-fit: fill;
    max-height: 900px;
    width: 100%;
    height: 100%;
}

.img-nav {
    width: 35%;
}

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner>.item>img {
    min-height: 300px;
    max-height: 300px;
    width: 100%;
}

.navtext {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}

.img {
    float: left;
}

.cardimg {
    height: 100%;
    width: 100%;
}

.quienessomos {
    margin-top: 20px;
    text-align: center;
    color: #ffffff;

}

footer {
    color: #ffffff;
}


.area {
    background-color: aqua;
}

.tamano {
    width: 80%;
}

.package {
    background-image: url("../images/fondo1.jpg");
    opacity: 1;
}

.bordes {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sticker {
    background: url(../images/sticker.jpg) no-repeat;
    width: 10%;
    height: 10%;
    position: absolute;
}


.bg {
    width: 100vw;
    height: 1500px;
}

.bgphotobooth {
    background: url("../images/photobg.jpg") no-repeat;
    height: pa;
    width: fit-content;

}


.parallax {
    background-image: url(../images/photobg.jpg);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-attachment: fixed;
    background-position: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallaxFoam {
    background-image: url(../images/card4.png);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    background-attachment: fixed;
    background-position: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body,
html {
    height: 110%;
    width: 100%;
    margin: 0;
}

.containerPrincipal {
    background-color: rgba(39, 32, 48, 0.3);
    backdrop-filter: blur(10px);
    /* color: white; */
    color: rgb(172, 139, 31);
    font-size: 40px;
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bolder;
    width: fit-content;
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    border-radius: 25px;
}

.titlePrincipal {
    background-color: rgba(39, 32, 48, 0.3);
    backdrop-filter: blur(10px);
    color: rgb(254, 39, 186);
    font-size: 40px;
    margin-top: -220px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    border-radius: 25px
}


.containerPrincipalFoam {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    color: rgb;
    /* color: rgb(172, 139, 31); */
    font-size: 40px;
    margin-top: 0px;
    margin-left: 35px;
    margin-right: 45px;
    font-weight: bolder;
    width: fit-content;
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    border-radius: 25px;
}

.titlePrincipalFoam {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    color: rgb(254, 39, 186);
    font-size: 40px;
    margin-top: 0px;
    margin-left: 35px;
    margin-right: 3 5px;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    border-radius: 25px
}

ul {
    list-style-type: none;
    padding: 0px;
}

li {
    padding: 10px;
    justify-content: center;
}

.buttongo {
    display: inline-block;
    background-color: rgb(254, 39, 186);
    border-radius: 15px;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 80px;
}

.buttongoFoam {
    display: inline-block;
    background-color: rgb(254, 39, 186);
    border-radius: 15px;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 0px;
}


.buttongo:hover {
    background-color: rgb(255, 77, 196);
}



/**/